/* Header */
#grad1 {
    color: black;
    background-color: #7189e0;
    background-image: linear-gradient (#7189e0, #230450);

    padding: 10px;
}

.bg {
    background-color: #7189e0;
}

span {
    font-size: medium;
}

#future.weather.card{
background-color: #1e51a8;
}
